.team-detail-view {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.315);
  color: #f5f5f5;
  border-radius: 20px;
  width: 80%;
}

.team-detail-view-teamname {
  text-align: center;
  padding: 0.1% 0%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgba(32, 32, 32, 0.8);
}

.team-detail-view h1 {
  text-align: center;
  margin-bottom: 20px;
}

.team-detail-view h2 {
  margin-top: 20px;
  position: relative;
}

.team-detail-view h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
  background-color: #dddddd42;
}

.team-tournament-detail {
  padding: 20px;
  margin-bottom: 2%;
  background-color: rgba(32, 32, 32, 0.6);
  color: #f5f5f5;
  border-radius: 20px;
}

.team-users-detail{
  padding: 20px;
  margin-bottom: 2%;
  background-color: rgba(32, 32, 32, 0.6);
  color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
}

.team-user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


.tam-clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tam-clickable-row:hover {
  background-color: rgba(32, 32, 32, 0.9);
}

.user-item {
  background-color: rgba(32, 32, 32, 0.6);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.user-item:hover {
  background-color: rgba(32, 32, 32, 1.2);
}