.tournament-detail-view {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.315);
  color: #f5f5f5;
  border-radius: 20px;
  width: 80%;
}

.tournament-detail-view-tournamentname {
  text-align: center;
  padding: 0.1% 0%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgba(32, 32, 32, 0.8);
}

.tournament-detail-view h1 {
  text-align: center;
  margin-bottom: 20px;
}

.tournament-detail-view h2 {
  margin-top: 20px;
  position: relative;
}

.tournament-detail-view h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
  background-color: #dddddd42;
}

.teams-container, .games-container, .tournament-container, .rules-container, .team-management-container {
  background-color: rgba(32, 32, 32, 0.6);
  padding: 0.5% 7.5%;
  margin: 2% 0%;
  padding-bottom: 1.5%;
  border-radius: 20px;
}

.team-item, .game-item {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.team-item:hover, .game-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.no-list-style {
  list-style-type: none;
  padding: 0;
}

.settings-section {
  margin-top: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.detail-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.detail-btn-light-grey {
  background-color: #6c757d;
  color: white;
}

.detail-btn-light-grey:hover {
  background-color: #5a6268;
}

.detail-btn-dark-grey {
  padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
}

.detail-btn-dark-grey:hover {
  background-color: #555;
}

.ml-2 {
  margin-left: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}