.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #2e2e2e; /* Dark grey background */
  color: #f5f5f5;            /* Light grey text */
  min-height: 100vh;
}

#home {
  padding: 20px;
}
